@model List<Restauracja.Controllers.OrdersController.Statistics>

@{
    ViewBag.Title = "Statystyki";
}

<h2>Statystyki</h2>

<table class="table">
    <tr>
        <td>
            Numer stolika
        </td>
        <td>
            Wartość całkowita zamówień
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TableId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceSum) zł
        </td>
        <td>
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Wróć", "Timelaps", null, new { @class = "btn btn-primary" })
</p>
